.quiz-container {
    width: 100%; /* Adjust width as needed */
    max-width: 640px; /* Limit maximum width */
    margin: auto;
    margin-top: 15px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    min-height: 90vh;
  }
  
  .quiz-container hr {
    height: 2px;
    border: none;
    background: #707070;
  }
  
  .quiz-container h2 {
    font-size: 27px;
    font-weight: 500;
  }
  
  .quiz-container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .quiz-container button {
    margin: auto;
    width: 100%; /* Adjust width as needed */
    max-width: 250px; /* Limit maximum width */
    height: 65px;
    background: #553f9a;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .quiz-container .index {
    margin: auto;
    font-size: 18px;
  }
  
  .quiz-container .correct {
    background: #dffff2;
    border-color: #00d397;
  }
  
  .quiz-container .wrong {
    background: #FFEBEB;
    border-color: #ff4a4a;
  }
  
  @media screen and (max-width: 640px) {
    .quiz-container {
      padding: 20px; /* Adjust padding as needed */
    }
  
    .quiz-container h2 {
      font-size: 24px; /* Decrease font size */
    }
  
    .quiz-container ul li {
      font-size: 18px; /* Decrease font size */
      height: auto; /* Adjust height */
      padding: 10px; /* Adjust padding */
    }
  
    .quiz-container button {
      width: 100%; /* Adjust width */
      max-width: none; /* Remove max-width */
      font-size: 20px; /* Decrease font size */
    }
  
    .quiz-container .index {
      font-size: 16px; /* Decrease font size */
    }
  }
  